.wrapper > * {
  padding: 1rem;
  border-radius: 10px;
}

.wrapper {
  display: grid;
  gap: 10px;
}

header {
  background-color: gold;
}

article {
  background-color: brown;
}

aside {
  background-color: blanchedalmond;
}

@media (min-width: 767px) {
  header {
    grid-column: 1/3;
  }
}
